@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-color: #e0aaff;
  font-family: 'Indie Flower', cursive;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #b5179e;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Indie Flower', cursive;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e63946;
  background-color: #ffc6ff;
  border: 5px solid #ffd6a5;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: #fdffb6;
  border-radius: 50%;
  font-size: 40px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  color: #9d4edd;
  margin-top: 15px;
}
